<!DOCTYPE html>
<html>
<head>
  <title>CursorQuery</title>
  <%= stylesheet_link_tag    "cursor_query/application", media: "all" %>
  <%= javascript_include_tag "cursor_query/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
